body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%; 
    max-width: 1000px;
}

.editor-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.code-editor {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tab {
    background-color: #316eaf;
    color: #fff;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: default;
    user-select: none;
}

textarea {
    width: 93.4%;
    padding: 10px;
    height: 300px;
    font-size: 14px;
    border-top: none;
    border-radius: 0 0 8px 8px;
    resize: none;
    background-color: #333;
    color: #fff;
    margin-top:0;
    margin-bottom: 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #316eaf;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

button:hover {
    background-color: #234c78;
}

.output {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 10px;
    background-color: #2a2a2a;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: pre-wrap;
    overflow-y: auto;
    height: auto;
}

#preview {
    width: 100%;
    height: 100%;
    border: none;
}
